
{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <link href="/assets/css/login.css" rel="stylesheet">

    {{ form_errors(registrationForm) }}
{{ form_start(registrationForm) }}
<div class="container">
    <div class="form-control">
        <h1>S'inscrire</h1>

            <div class="input-field">
                {{ form_label(registrationForm.email, 'Email') }}
                {{ form_widget(registrationForm.email, {'attr': {'class': 'input', 'id': 'email'}}) }}
                {{ form_errors(registrationForm.email) }}
            </div>
            <div class="input-field">
                {{ form_label(registrationForm.phoneNumber, 'Numéro de téléphone') }}
                {{ form_widget(registrationForm.phoneNumber, {'attr': {'class': 'input', 'id': 'phoneNumber'}}) }}
                {{ form_errors(registrationForm.phoneNumber) }}
            </div>
            <div class="input-field">
                {{ form_label(registrationForm.firstName, 'Prénom') }}
                {{ form_widget(registrationForm.firstName, {'attr': {'class': 'input', 'id': 'firstName'}}) }}
                {{ form_errors(registrationForm.firstName) }}
            </div>
            <div class="input-field">
                {{ form_label(registrationForm.lastName, 'Nom') }}
                {{ form_widget(registrationForm.lastName, {'attr': {'class': 'input', 'id': 'lastName'}}) }}
                {{ form_errors(registrationForm.lastName) }}
            </div>
            <div class="input-field">
                {{ form_label(registrationForm.plainPassword, 'Mot de passe') }}
                {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'input', 'id': 'password'}}) }}
                {{ form_errors(registrationForm.plainPassword) }}
            </div>
            <div class="form-check">
                {{ form_row(registrationForm.agreeTerms) }}
                {{ form_label(registrationForm.agreeTerms, 'I agree to the terms', {'label_attr': {'class': 'form-check-label'}}) }}
            </div>
            <button type="submit" class="btn submit-btn">S'inscrire</button>
    </div>
</div>
    {{ form_end(registrationForm) }}
{% endblock %}
