<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Le Phare de l'Ame{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
           <!-- Favicons -->
            <link href="/assets/img/favicon.png" rel="icon">
            <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

            <!-- Google Fonts -->
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

            <!-- Vendor CSS Files -->
            <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
            <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
            <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
            <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
            <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
            <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
            <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

            <!-- Template Main CSS File -->
            <link href="/assets/css/style.css" rel="stylesheet">

              <!-- =======================================================
                * Template Name: Gp
                * Updated: Jan 09 2024 with Bootstrap v5.3.2
                * Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
                * Author: BootstrapMade.com
                * License: https://bootstrapmade.com/license/
                ======================================================== -->
        {% endblock %}


    </head>
    <body>
               <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="/" class="logo me-auto me-lg-0"><img src="/assets/img/Logo_Evan_blanc.jpeg-removebg-preview.png" alt="" class="img-fluid" width='160%'></a>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Accueil</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto" href="#avis">Avis</a></li>
          <li><a class="nav-link scrollto " href="#info">Informations</a></li>
          <li class="dropdown"><a href="#"><span>Prestations</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              {% for category in categories %}
                  <li class="dropdown">
                      <a href="#"><span>{{ category.name }}</span> <i class="bi bi-chevron-right"></i></a>
                      <ul>
                          {% for service in services %}
                              {% if service.category.id == category.id %}
                                  <li><a href="#">{{ service.Name }}</a></li>
                              {% endif %}
                          {% endfor %}
                      </ul>
                  </li>
              {% endfor %}
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="/contact">Contact</a></li>
          <li class="dropdown"><a href="#"><span>Administration</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
                <li class="dropdown">
                  <a href="/category"><span>Catégories</span></a>
                  <ul>
                  <li><a class="dropdown" href="/category/new">Nouvelle catégorie</a></li>
                  <li><a class="dropdown" href="/category">Index des catégorie</a></li>                   
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="/service"><span>Services</span></a>
                  <ul>
                    <li><a class="dropdown" href="/service/new">Nouveau service</a></li>
                    <li><a class="dropdown" href="/service">Index des services</a></li>                   
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="/appointment"><span>Rendez-vous</span></a>
                  <ul>
                  <li><a class="dropdown" href="/appointment/new">Nouveau RDV</a></li>
                  <li><a class="dropdown" href="/appointment">Index RDV</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="/avis/index"><span>Avis</span></a>
                </li>
                <li class="dropdown">
                  <a href="/contact/index"><span>Contact</span></a>
                </li>
            </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      {% if not app.user %}
        <a href="#about" class="get-started-btn scrollto">Se connecter</a>
      {% else %}
        <a href="#about" class="get-started-btn scrollto">Se déconnecter</a>
      {% endif %}

    </div>
  </header><!-- End Header -->
        {% block body %}
        


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>Le Phare de l'Ame</h1>
          <h2>Un slogan bien frappant pour être stylé :)</h2>
        </div>
      </div>

    </div>
  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-in">

        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="/assets/img/certif/60c2166a.jpg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/assets/img/certif/103a649d.jpg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/assets/img/certif/EFT462Z5.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/assets/img/certif/jkqzvdyhqz67845.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/assets/img/certif/Regressive2.jpg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/assets/img/certif/9086759Fqf_page-0001.jpg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/assets/img/certif/908zqdzqdv6759Fqf_page-0001.jpg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/assets/img/certif/908guykygturt6759Fqf_page-0001.jpg" class="img-fluid" alt=""></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Clients Section -->

    {% if is_mobile %}
      <!-- ======= Services Section ======= -->
      <section id="services" class="services">
        <div class="container" data-aos="fade-up">

          <div class="section-title">
            <h2>Services</h2>
            <p>Check our Services</p>
          </div>

          <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box">
                <div class="icon"><i class="bx bxl-dribbble"></i></div>
                <h4><a href="">Hypnose holistique</a></h4>
                <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4><a href="">Hypnose regressive</a></h4>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-tachometer"></i></div>
                <h4><a href="">Soins de magnetisme</a></h4>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-world"></i></div>
                <h4><a href="">Soins energetique</a></h4>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-slideshow"></i></div>
                <h4><a href="">EFT</a></h4>
                <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-arch"></i></div>
                <h4><a href="">Médiumnité</a></h4>
                <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
              </div>
            </div>

          </div>

        </div>
      </section><!-- End Services Section -->
    {% endif %}

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>Prendre rendez-vous</h3>
          <p> Cliquez sur le bouton ci-dessous pour prendre rendez-vous avec moi !</p>
          <a class="cta-btn" href="/contact">Contacter</a>
        </div>

      </div>
    </section><!-- End Cta Section -->
  {% if not is_mobile %}
    <!-- ======= Portfolio Section ======= -->
    <section id="services" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>Regardez ce que je propose</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              {% for category in categories %}
              <li data-filter=".filter-{{ category.id }}">{{ category.name }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>

        {% for service in services %}
          <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item filter-{{ service.category.id }}">
              <div class="portfolio-wrap">
                <img src="/uploads/images/{{ service.img1 }}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>{{ service.Name }}</h4>
                  <p>{{ service.category.name }}</p>
                  <div class="portfolio-links">
                    <a href="/assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                    <a href="{{ path('app_service_show', {'id': service.id}) }}" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}

        </div>
      </div>
    </section><!-- End Portfolio Section -->
  {% endif %}

    

    <!-- ======= Testimonials Section ======= -->
    <section id="avis" class="testimonials">
      <div class="container" data-aos="zoom-in">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">
          
            {% for rating in ratings %}
              {% if rating.published == true %}
                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <img src="/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                    <h3>{{rating.getUser().firstName}}  {{rating.getUser().lastName}}</h3>
                    <h4>{{rating.getService().name}}<br>{{rating.value}}/5</h4>
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        {{rating.text}}
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                  </div>
                </div><!-- End testimonial item -->
              {% endif %}
            {% endfor %}

          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section><!-- End Testimonials Section -->
    <!-- ======= Counts Section ======= -->
        <section id="info" class="counts bg-light">
          <div class="container" data-aos="fade-up">

            <div class="row no-gutters">
              <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-right" data-aos-delay="100"></div>
              <div class="col-xl-7 ps-4 ps-lg-5 pe-4 pe-lg-1 d-flex align-items-stretch" data-aos="fade-left" data-aos-delay="100">
                <div class="content d-flex flex-column justify-content-center">
                  <h3>Quelques informations supplémentaires</h3>
                  <p>
                      Le Phare de L'Âme c'est aussi : 
                  </p>
                  <div class="row">
                    <div class="col-md-6 d-md-flex align-items-md-stretch">
                      <div class="count-box">
                        <i class="bi bi-emoji-smile"></i>
                        <span data-purecounter-start="0" data-purecounter-end="{{ ratings | length }}" data-purecounter-duration="2" class="purecounter"></span>
                        <p><strong>Avis</strong> clients disponibles sur ce site</p>
                      </div>
                    </div>

                    <div class="col-md-6 d-md-flex align-items-md-stretch">
                        <div class="count-box">
                            <i class="bi bi-journal-richtext"></i>
                            {% set currentDate = "now" | date("Y-m-d") %}
                            {% set pastAppointments = appointments | filter(appointment => appointment.date|date("Y-m-d") < currentDate) %}
                            <span data-purecounter-start="0" data-purecounter-end="{{ pastAppointments | length + 300 }}" data-purecounter-duration="2" class="purecounter"></span>
                            <p><strong>Séances</strong> réalisées depuis de début de l'application</p>
                        </div>
                    </div>

                    <div class="col-md-6 d-md-flex align-items-md-stretch">
                      <div class="count-box">
                        <i class="bi bi-clock"></i>
                        {% set startDate = '2019-01-01' | date('Y-m-d') %}
                        {% set currentDate = 'now' | date('Y-m-d') %}
                        {% set numberOfYears = currentDate|date('Y') - startDate|date('Y') - (currentDate|date('m-d') < startDate|date('m-d') ? 1 : 0) %}
                        <span data-purecounter-start="0" data-purecounter-end="{{ numberOfYears }}" data-purecounter-duration="4" class="purecounter"></span>
                        <p><strong>Ans</strong> d'expérience</p>
                      </div>
                    </div>

                    <div class="col-md-6 d-md-flex align-items-md-stretch">
                      <div class="count-box">
                        <i class="bi bi-award"></i>
                        {% set win = ratings | filter(rating => rating.value > 3) %}
                        <span data-purecounter-start="0" data-purecounter-end="{{ win | length }}" data-purecounter-duration="4" class="purecounter"></span>
                        <p><strong>Réussites</strong> d'après les retours des clients</p>
                      </div>
                    </div>
                  </div>
                </div><!-- End .content-->
              </div>
            </div>

          </div>
        </section><!-- End Counts Section -->
  </main><!-- End #main -->

  

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  {% endblock %}
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3><a href="/" class="logo me-auto me-lg-0"><img src="/assets/img/Logo_Evan_blanc.jpeg-removebg-preview.png" alt="" class="img-fluid" width="20%"></a></h3>
              <p>
                10 impasse des guevesses <br>
                Montmartin sur mer<br><br>
                <strong>Téléphone:</strong> 06 87 61 90 26<br>
                <strong>Email:</strong> celine.giron@yahoo.fr<br>
              </p>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>


        </div>
      </div>
    </div>
    
  </footer><!-- End Footer -->  
        {% block javascripts %}
            <!-- Vendor JS Files -->
            <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
            <script src="/assets/vendor/aos/aos.js"></script>
            <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
            <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
            <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
            <script src="/assets/vendor/php-email-form/validate.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

            <!-- Template Main JS File -->
            <script src="/assets/js/main.js"></script>
        {% endblock %}
    </body>
</html>
